body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
  font-family: sans-serif;
}

.game-container {
  position: relative;
  width: 800px;
  height: 200px;
  border: 2px solid #333;
  background: #fff;
  overflow: hidden;
}

.dino {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 40px;
  height: 40px;
  background: gray;
}

.tree {
  position: absolute;
  bottom: 0;
  left: 800px;
  width: 20px;
  height: 40px;
  background: green;
  animation: moveTree 2s linear infinite;
}

@keyframes moveTree {
  from { left: 800px; }
  to { left: -20px; }
}

.ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: black;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: red;
  display: none;
}
