/* Reset and Basic Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #87CEEB, #f4e3c1);
  overflow: hidden;
}

.game-container {
  position: relative;
  width: 80%;
  height: 200px;
  border: 2px solid #333;
  background-color: #fff;
  overflow: hidden;
}

/* Dino */
.dino {
  position: absolute;
  bottom: 10px;
  left: 50px;
  width: 50px;
  height: 50px;
  background: url('https://img.icons8.com/color/100/000000/tyrannosaurus-rex.png') no-repeat center/contain;
  z-index: 10;
}

/* Tree */
.tree {
  position: absolute;
  bottom: 10px;
  right: -50px;
  width: 40px;
  height: 60px;
  background: url('https://img.icons8.com/ios-filled/100/000000/tree.png') no-repeat center/contain;
  animation: move-tree 2s linear infinite;
}

@keyframes move-tree {
  0% { right: -50px; }
  100% { right: 100%; }
}

/* Ground */
.ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background-color: #333;
}

/* Game Over */
.game-over {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: red;
}
